*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: aliceblue; */
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #0ea7bb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card{
    height: 400px;
    width: 280px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.storiyan{
    height: 90px;
    width: 100%;
    padding: 10px;
    /* background-color: red; */
    border-bottom: 1px solid rgb(187, 174, 174);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
}

.storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid red;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
    
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.full-screen{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}

.pic{
    left: 50.5%;
    top: 60%;
    transform: translate(-50%, -50%); 
    position: absolute;
    
}

.pic img{
    width: 255px;
    height: 280px;
    border-radius: 5px;
    border: 1px solid black;
}